# BotFather'dan olingan token
BOT_TOKEN=

# RapidAPI kaliti va host'lar (video yuklash uchun)
RAPIDAPI_KEY=
RAPIDAPI_INSTAGRAM_HOST=instagram-downloader-download-instagram-videos-stories.p.rapidapi.com
RAPIDAPI_TIKTOK_HOST=tiktok-video-no-watermark2.p.rapidapi.com
RAPIDAPI_YOUTUBE_HOST=youtube-media-downloader.p.rapidapi.com
